Webdav/move_path fails when a non-latin character is used in the path

Example : 

`move_path("username", "unsorted/photos/folder", "sorted/photos/folder/2019/03 - March/Norway 🇳🇴/file.jpg`

Fails with following error : 

`UnicodeEncodeError: 'latin-1' codec can't encode characters in position 83-84: ordinal not in range(256)
`

Full python error stack : 

```
---------------------------------------------------------------------------
UnicodeEncodeError                        Traceback (most recent call last)
~/python/sort_pics_api.py in <module>
    160                                 # print(print("Erreur dans le déplacement de"+image_file+" vers "+dir_path))
    161                                 # os.remove(image_file)
--> 162 nxc.move_path("username", "unsorted/VID_20190307_185304.mp4","/Photos/2019/03 - Mars/Norvège 🇳🇴/Oslo/VID_20190307_185304.mp4")
    163 
    164 print("--- Généré en %s secondes ---" % (int(time.time() - start_time)))

python/nextcloud/src/nextcloud/api_wrappers/webdav.py in move_path(self, uid, path, destination_path, overwrite)

python/nextcloud/src/nextcloud/requester.py in move(self, url, destination, overwrite)

/usr/local/lib/python3.5/dist-packages/requests/api.py in request(method, url, **kwargs)
     54     # cases, and look like a memory leak in others.
     55     with sessions.Session() as session:
---> 56         return session.request(method=method, url=url, **kwargs)
     57 
     58 

/usr/local/lib/python3.5/dist-packages/requests/sessions.py in request(self, method, url, params, data, headers, cookies, files, auth, timeout, allow_redirects, proxies, hooks, stream, verify, cert, json)
    473         }
    474         send_kwargs.update(settings)
--> 475         resp = self.send(prep, **send_kwargs)
    476 
    477         return resp

/usr/local/lib/python3.5/dist-packages/requests/sessions.py in send(self, request, **kwargs)
    594 
    595         # Send the request
--> 596         r = adapter.send(request, **kwargs)
    597 
    598         # Total elapsed time of the request (approximately)

/usr/local/lib/python3.5/dist-packages/requests/adapters.py in send(self, request, stream, timeout, verify, cert, proxies)
    421                     decode_content=False,
    422                     retries=self.max_retries,
--> 423                     timeout=timeout
    424                 )
    425 

/usr/local/lib/python3.5/dist-packages/requests/packages/urllib3/connectionpool.py in urlopen(self, method, url, body, headers, retries, redirect, assert_same_host, timeout, pool_timeout, release_conn, chunked, **response_kw)
    593                                                   timeout=timeout_obj,
    594                                                   body=body, headers=headers,
--> 595                                                   chunked=chunked)
    596 
    597             # If we're going to release the connection in ``finally:``, then

/usr/local/lib/python3.5/dist-packages/requests/packages/urllib3/connectionpool.py in _make_request(self, conn, method, url, timeout, chunked, **httplib_request_kw)
    361             conn.request_chunked(method, url, **httplib_request_kw)
    362         else:
--> 363             conn.request(method, url, **httplib_request_kw)
    364 
    365         # Reset the timeout for the recv() on the socket

/usr/lib/python3.5/http/client.py in request(self, method, url, body, headers)
   1105     def request(self, method, url, body=None, headers={}):
   1106         """Send a complete request to the server."""
-> 1107         self._send_request(method, url, body, headers)
   1108 
   1109     def _set_content_length(self, body, method):

/usr/lib/python3.5/http/client.py in _send_request(self, method, url, body, headers)
   1145             self._set_content_length(body, method)
   1146         for hdr, value in headers.items():
-> 1147             self.putheader(hdr, value)
   1148         if isinstance(body, str):
   1149             # RFC 2616 Section 3.7.1 says that text default has a

/usr/lib/python3.5/http/client.py in putheader(self, header, *values)
   1077         for i, one_value in enumerate(values):
   1078             if hasattr(one_value, 'encode'):
-> 1079                 values[i] = one_value.encode('latin-1')
   1080             elif isinstance(one_value, int):
   1081                 values[i] = str(one_value).encode('ascii')

UnicodeEncodeError: 'latin-1' codec can't encode characters in position 83-84: ordinal not in range(256)

```

Is the assumption that you use the python3 interpreter correct?

Other from that, is it possible that the incriminated filename is not encoded in UTF-8 compatible encoding?

The filename is utf-8 ( as every python 3 var ) 
However what I don't understand is that while the `move_path` does not work with the emoji, the I can download, create folder and upload without an issue... Which is strange 

I get it now, the so-called `latin-1` encoding is the standard for HTTP. We should make sure that we send bytes, i.e. encode the filename using UTF-8.

For reference: https://docs.python.org/3/library/http.client.html#httpconnection-objects

Where in the code can I implement this change to make it send bytes instead of str ?

Fixed by #34, thank you @scouderc !